<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>
    <link href="https://cdn.gac-lap.com/dash_lab/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <div id="content-wrap">
       
        {% block content %}
        {% endblock %}

    </div>


    <script src="{{url_for('static', filename = 'assets/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'assets/bootstrap.min.js')}}"></script>
  

</body>

</html>